<div class="register-form">
  <h2>Register</h2>
  <form (ngSubmit)="onRegister()">
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="registerObj.username" name="username" required />

    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="registerObj.email" name="email" required />

    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="registerObj.password" name="password" required />

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" [(ngModel)]="registerObj.confirmPassword" name="confirmPassword" required />

    <button type="submit">Register</button>
    <div class="text-center mt-3">
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </form>
</div>

      

