<div class="register-form container mt-5">
    <form (ngSubmit)="onRegister()">
      <h2 class="text-center mb-4">Register</h2>
  
      <div class="mb-3">
        <label for="userName" class="form-label">User Name</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          placeholder="Enter your userName"
          [(ngModel)]="registerObj.username"
          name="username"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
          [(ngModel)]="registerObj.email"
          name="email"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Create a password"
          [(ngModel)]="registerObj.password"
          name="password"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm your password"
          [(ngModel)]="registerObj.confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
  
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </div>
  
      <div class="text-center mt-3">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </form>
  </div>
  